.contact_container{
    display: flex;
    max-width: 1125px;
    margin: 0 auto;
    margin-top: 40px;
    
}

.top_buttons{
    display: flex;
    gap: 32px;
}

.form_container{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.for_form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form_control{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.form_control input{
    height: 40px;
    padding: 0 8px;
}

.form_control label{
    font-size: 14px;
    position: absolute;
    top: -12px;
    left: 24px;
    background-color: white;
}

.form_control textarea{
    padding: 8px;
}

.final_display h3{
    color: grey;
    font-family: inherit;
    font-style: bold;
}